.ondiv{
    position: absolute;
    height: 20px;
    width: 20px;
    right:35%;
    top:38%
}


.circle{
    position: absolute;
    height: 16px;
    width:16px;
    background-color: brown;
    margin: 10px;
    border-radius: 50%;
    top:10px;
    box-shadow: 0 0 10px 1px red; 
}
.circle2{
    position: absolute;
    height: 10px;
    width:10px;
    background-color: brown;
    margin: 10px;
    border-radius: 50%;
    top:10px
}
.imgdiv{
    height: 100vh;
    width: 100vw;
    position: relative;
    

}

img{
    min-width: 100%;
    min-height: 100%;
  
}
.deerdiv{
    position: absolute;
    height:100px;
    width: 100px;

    top: 1%;
    /*left: -100px; /* Start off-screen to the left */

    animation: moveDeer 5s linear infinite; /* Adjust the duration and other properties as needed */
}
@keyframes moveDeer {
  from {
        left: -100%;
    }
    to {
        left: 100%;
    }
}
/* #circle1{
    top:40%;
    right:40%;
    background-color: #009966;
} */
#circle2{
    top:36%;
    right:43%;
    background-color: blue;
}
#circle3 {
    top: 30%;
    right:46%;
    background-color: #aabbcc; /* Replace with a random color code */
}

#circle4 {
    top: 30%;
    right: 49%;
    background-color: #112233; /* Replace with a random color code */
}

#circle5 {
    top: 42%;
    right: 52%;
    background-color: #445566; /* Replace with a random color code */
}

#circle6 {
    top:55%;
    right:55%;
    background-color: #778899; /* Replace with a random color code */
}

#circle7 {
    top: 58%;
    right: 58%;
    background-color: #990000; /* Replace with a random color code */
}

#circle8 {
    top: 63%;
    right:55%;
    background-color: #00cc00; /* Replace with a random color code */
}

#circle9 {
    top: 53%;
    right:48%;
    background-color: #ff9900; /* Replace with a random color code */
}

#circle10 {
    top: 69%;
    right:55%;
    background-color: #663399; /* Replace with a random color code */
}
#circle11 {
    top: 66%;
    right:53%;
    background-color: #ffcc00; /* Replace with a random color code */
}

#circle12 {
    top: 75%;
    right:43%;
    background-color: #336699; /* Replace with a random color code */
}

#circle13 {
    
    right:40%;
    top:86%;
    background-color: #cc3300;
   
}

#circle14 {
    top: 81%;
    right:37%;
    background-color: #990099; /* Replace with a random color code */
}

#circle15 {
    top: 84%;
    right:34%;
    background-color: #009966; /* Replace with a random color code */
}

#circle16 {
    top: 90%;
    right: 37%;
    background-color: #ff6666; /* Replace with a random color code */
}

#circle17 {
    top: 93%;
    right: 40%;
    background-color: #003366; /* Replace with a random color code */
}

#circle18 {
    top: 96%;
    right: 43%;
    background-color: #cc9900; /* Replace with a random color code */
}

#circle19 {
    top: 107%;
    right: 46%;
    background-color: #669933; /* Replace with a random color code */
}

#circle20 {
    top: 102%;
    right: 49%;
    background-color: #cc6633; /* Replace with a random color code */
}

#circle21 {
    top: 105%;
    right: 52%;
    background-color: #ffcc00; /* Replace with a random color code */
}

#circle22 {
    top: 107%;
    right: 55%;
    background-color: #336699; /* Replace with a random color code */
}

#circle23 {
    top: 110%;
    right:58%;
    background-color: #cc3300; /* Replace with a random color code */
}

#circle24 {
    top: 113%;
    right: 61%;
    background-color: #990099; /* Replace with a random color code */
}

#circle25 {
    top: 116%;
    right:64%;
    background-color: #009966; /* Replace with a random color code */
}

#circle26 {
    top: 119%;
    right: 67%;
    background-color: #ff6666; /* Replace with a random color code */
}

#circle27 {
    top: 124%;
    right: 64%;
    background-color: #003366; /* Replace with a random color code */
}

#circle28 {
    top: 127%;
    right: 61%;
    background-color: #cc9900; /* Replace with a random color code */
}

#circle29 {
    top: 145%;
    right: 58%;
    background-color: #669933; /* Replace with a random color code */
}

#circle30 {
    top: 133%;
    right: 55%;
    background-color: #cc6633; /* Replace with a random color code */
}

#circle31 {
    top: 136%;
    right: 52%;
    background-color: #ffcc00; /* Replace with a random color code */
}

#circle32 {
    top: 139%;
    right: 49%;
    background-color: #336699; /* Replace with a random color code */
}

#circle33 {
    top: 142%;
    right: 46%;
    background-color: #cc3300; /* Replace with a random color code */
}

#circle34 {
    top: 145%;
    right: 43%;
    background-color: #990099; /* Replace with a random color code */
}

#circle35 {
    top: 148%;
    right: 40%;
    background-color: #009966; /* Replace with a random color code */
}

#circle36 {
    top: 151%;
    right: 37%;
    background-color: #ff6666; /* Replace with a random color code */
}

#circle37 {
    top: 154%;
    right: 34%;
    background-color: #003366; 
}
    #circle38 {
        top: 155%;
        right: 31%;
        background-color: #cc9900; /* Replace with a random color code */
    }
    
    #circle39 {
        top: 156%;
        right: 28%;
        background-color: #669933; /* Replace with a random color code */
    }
    
    #circle40 {
        top: 157%;
        right: 25%;
        background-color: #cc6633; /* Replace with a random color code */
    }
    
    #circle41{
        top:40%;
        right:40%;
        background-color: #70ccad;
    }
    body{
        margin: 0;
        padding:0px;
        overflow-x: hidden;
    }
    
    .circle{
        background: rgb(64,39,39);
        background: linear-gradient(67deg, rgba(64,39,39,1) 0%, rgba(255,0,0,1) 100%);
    }
    .circle:hover{
      
        box-shadow: 0px 0px 29px 24px rgba(242,216,84,0.9);
        box-shadow: 0 0 10px 5px rgba(242, 216, 84, 0.9), 0 0 20px 10px rgba(242, 216, 84, 0.8), 0 0 30px 15px rgba(242, 216, 84, 0.7);
        background-color: #ff0000; /* Red color */
        box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.9), 0 0 20px 10px rgba(255, 0, 0, 0.8), 0 0 30px 15px rgba(255, 0, 0, 0.7);
    }
    /* #circle41{
        top:47%;
        right:40%;
        background-color: #70ccad;
    }
     */
    #circle42 {
        top: 47%;
        right: 42%;
        background-color: #70ccad;
    }
    
    #circle43 {
        top: 42%;
        right: 38%;
        background-color: #70ccad;
    }
    
    #circle44 {
        top: 60%;
        right: 49%;
        background-color: #70ccad;
    }
    
    #circle45 {
        top: 73%;
        right:60%;
        background-color: #70ccad;
    }
    
    
    
    #circle48 {
        top: 80%;
        right: 53%;
        background-color: #70ccad;
    }
    
    #circle49 {
        top: 58%;
        right: 37%;
        background-color: #70ccad;
    }
    
    #circle50 {
        top: 66%;
        right: 43%;
        background-color: #70ccad;
    }
    
    #circle51 {
        top: 72%;
        right: 38%;
        background-color: #70ccad;
    }
    #circle52 {
        top: 140%;
        right: 26%;
        background-color: #70ccad;
    }
    
    #circle53 {
        top: 88%;
        right: 46%;
        background-color: #70ccad;
    }
    
    #circle54 {
        top: 110%;
        right: 33%;
        background-color: #70ccad;
    }
    
    #circle55 {
        top: 99%;
        right: 60%;
        background-color: #70ccad;
    }
    
    #circle56 {
        top: 20%;
        right: 48%;
        background-color: #70ccad;
    }
    
    #circle57 {
        top: 123%;
        right: 40%;
        background-color: #70ccad;
    }
    
    #circle58 {
        top: 127%;
        right: 30%;
        background-color: #70ccad;
    }
    
    
    .circle2{
    
        background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
        radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    }
    
    .circle2:hover{
      
        box-shadow: 0px 0px 29px 24px rgba(242,216,84,0.9);
        box-shadow: 0 0 10px 5px rgba(242, 216, 84, 0.9), 0 0 20px 10px rgba(242, 216, 84, 0.8), 0 0 30px 15px rgba(242, 216, 84, 0.7);
      
    }
    
    
    
    
    .cube {
        position: relative;
        width: 100px;
        height: 100px;
        transform-style: preserve-3d;
        transform:
          perspective(900px)
          rotateX(8deg)
          rotateY(70deg)
          translateZ(5px)
          translateY(250px)
          scale(0.7);
       /* // border:2px solid blue; */
        transition: 0.5s ease all;
        left:50px;
        bottom:10px;
        
      }
      /* .cube:hover{
       transform: translateY(-50px);
       z-index: 1;
      } */
      
      .face{
        transition: 0.5s ease all;
      }
      
      .face {
        position: absolute;
        width: 100px;
        height: 100px;
        background-color: red;
        /* border: 1px solid #333; */
        
      
       
      }
      
      
      .front {
        transform: translateZ(50px);
        background-color: skyblue;
      }
      
      .back {
        transform: rotateY(180deg) translateZ(50px);
        background-color: pink;
      }
      
      .left {
        transform: rotateY(-90deg) translateZ(50px);
        background-color: aqua;
      }
      
      .right {
        transform: rotateY(90deg) translateZ(50px);
        background-color: darkblue;
      }
      
      .top {
        transform: rotateX(90deg) translateZ(50px);
        background-color: plum;
      }
      
      .bottom {
        transform: rotateX(-90deg) translateZ(50px);
        background-color: palevioletred;
      }
    
      .btn{
        position: absolute;
        top:1170px;
        right:80%;
        background-color: #003366;
        margin-left: 20px;
        box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12)
    ;
     border-radius: 55%;
    
        
      }
      button{
        border: none;
        background-color:#003366;
       
        padding: 20px;
       
        box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
      ;
      
      border-radius: 55%;
      }
      button:hover{
        background-color:#3373b3;
      }
      button.button-3d {
        transition: all 0.03s linear;
      }
      
      button.button-3d:hover {
        background-color: #65b9e6;
      }
      
      button.button-3d:active {
        box-shadow: 0 0 2px darkslategray;
        transform: translateY(2px);
      }
      .box{
        height: 100px;
        width: 100px;
        background: linear-gradient(#f00202 0%, #bd0404 10%, #7d0404 50%, #4a0202 100%);
      
      }
    
      .container1 {
        position: absolute;
        width: 100px; /* Adjust the size as needed */
        height: 100px; /* Adjust the size as needed */
        perspective: 1000px;
        margin: 100px auto 0;
        top: 700px;
        right:40%;
      }
      .container2 {
        position: absolute;
        width: 100px; /* Adjust the size as needed */
        height: 100px; /* Adjust the size as needed */
        perspective: 1000px;
        margin: 100px auto 0;
        top: 700px;
        right:30%;
      }
      .container3 {
        position: absolute;
        width: 80px; /* Adjust the size as needed */
        height: 80px; /* Adjust the size as needed */
        perspective: 800px; /* Adjust the perspective as needed */
        margin: 100px auto 0;
        top:650px;
        right:20%;
      }
      
      .container3 .cube {
        transform-style: preserve-3d;
        width: 100%;
        height: 100%;
        position: relative;
      }
      
      .container3 .face {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #ff0000, #ff7f7f);
      }
      
      .container3 .top {
        transform: rotateX(90deg) translateZ(40px); /* Adjust the size as needed */
      }
      
      .container3 .bottom {
        transform: rotateX(-90deg) translateZ(40px); /* Adjust the size as needed */
      }
      
      .container3 .right {
        transform: rotateY(90deg) translateZ(40px); /* Adjust the size as needed */
      }
      
      .container3 .left {
        transform: rotateY(-90deg) translateZ(40px); /* Adjust the size as needed */
      }
      
      .container3 .front {
        transform: rotateX(0deg) translateZ(40px); /* Adjust the size as needed */
      }
      
      .container3 .back {
        transform: rotateX(-180deg) translateZ(40px); /* Adjust the size as needed */
      }
      
      .cube:hover {
        transform: translateY(-8px); /* Adjust the value as needed */
      }
      
      @keyframes spin {
        from {
          transform: rotateX(0deg) rotateY(0deg);
        }
        to {
          transform: rotateX(360deg) rotateY(360deg);
        }
      }
      
      
      
      .cube {
        transform-style: preserve-3d;
        width: 100%;
        height: 100%;
        position: relative;
      }
      
      .face {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #ff0000, #ff7f7f);
      }
      
      .top {
        transform: rotateX(90deg) translateZ(50px); /* Adjust the size as needed */
      }
      
      .bottom {
        transform: rotateX(-90deg) translateZ(50px); /* Adjust the size as needed */
      }
      
      .right {
        transform: rotateY(90deg) translateZ(50px); /* Adjust the size as needed */
      }
      
      .left {
        transform: rotateY(-90deg) translateZ(50px); /* Adjust the size as needed */
      }
      
      .front {
        transform: rotateX(0deg) translateZ(50px); /* Adjust the size as needed */
      }
      
      .back {
        transform: rotateX(-180deg) translateZ(50px); /* Adjust the size as needed */
      }
      
      .cube:hover {
        transform: translateY(-10px); /* Adjust the value as needed */
      }
    
      .face :hover{
        transform: translateY(-10px);
      }
   
      .text {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        position: absolute;
  
        top:80%;
        right:73%;
      
     
    }
    h1 {
        font-size: 3em;
        text-align: center;
        color: #fff; /* Set your desired text color */
        text-shadow: 0 0 10px rgb(255, 208, 0), 0 0 20px rgb(255, 208, 0), 0 0 30px rgb(255, 217, 0); /* Add multiple shadows for the glow effect */
        animation: glow 1s infinite alternate; /* Adjust the duration and other properties as needed */
    }
    
    @keyframes glow {
        from {
            text-shadow:0 0 10px rgb(255, 208, 0), 0 0 20px rgb(255, 208, 0), 0 0 30px rgb(255,217,0);
        }
        to {
       
            text-shadow:0 0 10px rgb(255, 0, 0), 0 0 20px rgb(255, 0, 0), 0 0 30px rgb(255, 0, 0);
        }
    }
    
    /* @keyframes slideInFromRight {
        from {
            right: -100%;
        }
        to {
            right: 100%;
        }
    } */

/* 
    animation: moveDeer 5s linear infinite; /* Adjust the duration and other properties as needed */
/* 
@keyframes moveDeer {
  from {
        left: -100%;
    }
    to {
        left: 100%;
    }
} */ 


    #circle56{
        top: 20%;
    right: 48%;
    background-color: #70ccad;
    /* animation:move 7s linear infinite; */
    }
    
    @keyframes move {
        0% {
            top: 20%;
            right: 48%;
        }
        25% {
            top: 40%; /* Adjust the percentage to control the zigzag height */
            right: 45%;
        }
        50% {
            top: 60%;
            right: 55%;
        }
        75% {
            top: 80%; /* Adjust the percentage to control the zigzag height */
            right: 41%;
        }
        80%{
            top:100%;
            right:57%

        }
        85%{
            top:120%;
            right:43%;
        }
        100% {
            top: 145%;
            right: 60%;
        }
    }

    .switchontext{
        position: absolute;
        top:40%;
        right:25%;
    }